<!-- Context display section -->
<div class="max-w-4xl mx-auto relative">
  <h2 class="text-xl font-bold text-gray-900 mb-4 font-headline">
    Your Gamer LLM Context
  </h2>
  <button 
    class="absolute right-3 top-14 z-10 px-3 py-1.5 bg-gray-100 hover:bg-gray-200 text-gray-700 text-sm rounded-md transition-colors font-headline flex items-center gap-1"
    onclick="handleCopy(this);">
    Copy
  </button>
  <textarea
    class="w-full min-w-[824px] h-96 p-4 bg-gray-50 border border-gray-200 rounded-lg font-base text-gray-800 resize-none focus:outline-none"
    readonly>
List of my Steam library games, ordered from most played to least played:

{%- for item in games %}
{%- if loop.first %}

{% endif -%}
## Game — {{ item.game.name }}

Hours played: {{ item.game.playtime }}
Genres: {{ item.game_details.genres|join(', ') }}
Categories: {{ item.game_details.categories|join(', ') }}
Description: {{ item.game_details.description|striptags }}
{%- if not loop.last %}


{% endif -%}
{% endfor -%}
  </textarea>

  <script src="{{ url_for('static', path='/copy_context.js') }}"></script>
</div>
